#backHome{
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}

#time Text{
    -fx-font-size: 15px;
}

#shadow{
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}