#learningModules{
    -fx-font-weight: bold;
    -fx-font-size: 20px;
}
#studentGrades{
    -fx-background-color: white;
}
#backHome{
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-font-size: 20px;
    -fx-text-fill: black;
    -fx-font-family: Consolas;
}

#subject1{
    -fx-background-color: #de868f;
    -fx-background-radius: 25px;
}
#subject2{
    -fx-background-color: #f4ce98;
    -fx-background-radius: 25px;
}
#subject3{
    -fx-background-color: #fefa83;
    -fx-background-radius: 25px;
}

