#MyGrades{
    -fx-font-weight: bold;
    -fx-font-size: 20px;
}
#backHome{
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}

#calc{
    -fx-font-size: 20px;
    -fx-background-color: #5082f3;
    -fx-text-fill: white;
    -fx-font-family: Consolas;
}