

AnchorPane {
    -fx-background-color: #efefef;
}

#HomeText {
    -fx-font-size: 20px;
    -fx-font-weight: bold;
}

#myImageView {
    -fx-background-image: url("image/demo.jpg");
    -fx-background-size: cover;
}

#aboutMe{
    -fx-background-color: white;
}
#homeTopic,
#learningTopic{
    -fx-font-weight: bold;
    -fx-font-size: 20px;
}
#learningPart AnchorPane {
    -fx-background-color: white;
}

#menuPart #learningModule{
   -fx-background-color: #de868f;
    -fx-background-radius: 5px;
}

#menuPart #grades{
    -fx-background-color:#f4ce98;
    -fx-background-radius: 5px;

}

#menuPart #email{
    -fx-background-color:#ccf783;
    -fx-background-radius: 5px;
}
#menuPart #literatureIndex{
    -fx-background-color:#b886f8;
    -fx-background-radius: 5px;
}

#quit{
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}

#menuPart MFXButton{
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}

#myAchievement{
    -fx-background-color:#fdfa93;
    -fx-background-radius: 5px;
}
#courseSelection{
    -fx-background-color:#8083ef;
    -fx-background-radius: 5px;
}
#classSchedules{
    -fx-background-color:#f5c278;
    -fx-background-radius: 5px;
}
#personalInformation{
    -fx-background-color:#d28a90;
    -fx-background-radius: 5px;
}